<%- include('include/_header') %>
    <main id="site-main">
    <div class="box-nav">
        <a href="/" class="border">
            <span class="text"><i class="fas fa-angle-double-left"></i> ALL USERS</span>
        </a>
    </div>
    <div class="form">
        <h2 class="">UPDATE USER</h2>
        <span>use form to update</span>
    </div>
    <div class="form">
    </div>
    <form method="POST" id="update_user">
        <div id="add_user">
            <div class="container-options">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="hidden" name="id" value="<%= user._id %>">
                <input type="text" name="name" value="<%= user.name %>" placeholder="Andrew Drew">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="radio">
                    <label for="gender">Male</label>
                    <input type="radio" name="gender" value="male"<%= user.gender == 'male' ? 'checked' : '' %>>
                </div>
                <div class="radio">
                    <label for="gender">Female</label>
                    <input type="radio" name="gender" value="female" <%= user.gender == 'female' ? 'checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <label class="push" for="gender">Status </label>
                <div class="radio">
                    <label class="push" for="gender">Active</label>
                    <input type="radio" name="status" value="active" <%= user.status == 'active' ? 'checked' : '' %>>
                </div>
                <div class="radio">
                    <label  for="gender">Inactive</label>
                    <input type="radio" name="status" value="inactive" <%= user.status == 'inactive' ? 'checked' : '' %>>
                </div>
            </div>
        </div>
            <div class="form-group">
                <button type="submit" class="btn">SAVE</button>
            </div>
            
        </div>
     </form>
 </div>
</main>
</div>
<%- include('include/_footer') %>